footer {
  padding: 2rem 0;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 0.5rem;
}

footer p {
  font-size: 0.78rem;
  color: var(--muted2);
}

footer span {
  color: var(--tan);
}
